body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #1e293b;
  padding: 2rem;
  border-radius: 10px;
  height: 500px;
  width: 650px;
align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-size: 30px;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 30px;
}

.form-toggle button {
  flex: 1;
  padding: 0.5rem;
  cursor: pointer;
  background: #334155;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
}

.form-toggle .active {
  background: #0ea5e9;
}

.form-group {
  margin-bottom: 1rem;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.error-message {
  color: #f87171;
  font-size: 1.8rem;
}

#strength {
  margin-top: 5px;
  font-size: 1.8rem;
}

.show-password {
  font-size: 1.9rem;
}

button[type="submit"] {
  background: #0ea5e9;
  color: white;
  padding: 0.7rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}




