body  {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
  display: flex;
    justify-content: center;
    align-items: center;
    height:  100vh;

     
}

.login-container  {
    background: #222;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffcc;
    height: 450px;
    line-height: 10px;
   
   
}

input  {
    width: 100px;
    padding: 10px;
    margin: 20px 10px ;
    border: none;
    border-radius: 5px;
    display: block
  
}

button  { 
    width: 100px;
    padding: 10px;
    background: #00ffcc;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 10px 20px ;

 
  
    
}

#message  {
    margin-top: 10px;
    color: red;
}